.CheckboxesList, .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    list-style-type: none;
}

.dim
{
   /* color:gray!important;*/
    font-weight: normal!important;
    opacity: 0.3;
}

.CheckboxesList li{
    margin-right: 10px;
    font-size: 14px;
}

.CheckboxesList li label
{
    color: white;
    margin-left: 3px;
}

.CombinedLabel
{
    color: papayawhip;
}


.CombinedSwitcher:checked  + .CombinedLabel{
    color: red;
    font-weight: bold;
}

.regularCheckbox:checked + .regularLabel
{
    font-size: 15px;
/*    font-weight: bolder;*/
}

