a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-item
{
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-item a
{
  text-decoration: none;
  padding: 7px;
  border-radius: 30px;
}

.nav-item
{
  padding: 3px 10px 3px 10px;

}

.nav-item .active
{
  color: antiquewhite!important;
  font-weight: bold;
  border: antiquewhite solid 1px;
}

.nav-item a:hover
{
  border: antiquewhite dashed 1px;

}



.nav-item:hover a
{
  color:white!important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}